@font-face {
    font-family: 'alegreya';
    src: url('./fonts/alegreyasanssc-black-webfont.woff2') format('woff2'),
         url('./fonts/alegreyasanssc-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --yellow:#ffc92f;
    --red:#d82727;
    --black:#1b1b1b;
    --titlesFont:'Yanone Kaffeesatz' , sans-serif;
}

html,body{
    height: 100%;
}

.wrapper{
    overflow:hidden;
    min-width: 1310px;
}

.container{
    margin:0 auto;
    width: 1300px;
}

body{
    font:16px / 1.42em "Roboto", Arial, sans-serif;
    color:#212121;
    -webkit-font-smootthing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fcf5e6;
}

ul{
    margin:0;
    padding:0;
}
 
ul>li{
    list-style:none;
}

.hero {
    height: 100vh;
    min-height:650px;
    background:url('./img/bg/hero.jpg') center center / cover no-repeat;
    position:relative;
    margin-bottom:130px;
}

.header{
    width: 1290px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-top:27px;
}

.mail{
    text-decoration: none;
    text-align:center;
    color:inherit;
}

.mail__title{
margin-bottom:3px;
}

.mail__content{
    background:#212121;
    color: var(--yellow);
    padding: 5px 10px;
}

.hero__content{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:1140px;
    height:72%;
}

.sidebar{
    width:75px;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    background: #212121;
    box-sizing:border-box;
    display: flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    transition:width .3s;
}

.sidebar__menu{
    position:absolute;
    left: -400px;
    transition: left.3s;
}

.sidebar__hamburger-icon{
    width:29px;
    height:29px;
    fill: var(--yellow);
}

.sidebar__hamburger{
    display:block;
    position:absolute;
    top:27px;
    left:50%;
    transform: translate(-50%);
}

.sidebar--opened{
    width:325px;
    background: #212121;
}

.sidebar--opened .sidebar__hamburger{
    display:none;
}

.sidebar--opened .sidebar__menu{
    left:0;
    width:100%;
    text-align:center;
    transition-delay:.1s;
}

.sidebar--opened .sidebar__header{
    display:flex;
}

.sidebar__header{
    position:absolute;
    top:29px;
    right:0;
    left:0;
    display:none;
    justify-content:center;
}

.sidebar__close{
    position:absolute;
    top:-4px;
    right:25px;
}

.sidebar__close-icon{
    width:29px;
    height:29px;
    fill: var(--yellow);
}

.side-menu{
margin-top:153px;
}

.side-menu__item{
    margin-bottom:28px;
}

.side-menu__link{
    font-size:20px;
    text-decoration: none;
    color: var(--yellow);
    font-family: var(--titlesFont);
    text-transform:uppercase;
}

.side-menu__link:hover{
    color:var(--red);
}

.fade-slider{
    width:100%;
   height:100%;
   margin-top:51px;
   position:relative;
}

.fade-slider__item{
    background: center center / contain no-repeat;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    opacity:0;
    transition: opacity .3s;
}

.fade-slider__item--visible{
    opacity:1;
}

.fade-slider__item--style-thirts{
 background-image: url('./img/content/hero/slider_pic_1.png');
}

.fade-slider__item--style-games{
    background-image: url('./img/content/hero/slider_pic_2.png');
   }

.fade-slider__item--style-presents{
    background-image: url('./img/content/hero/slider_pic_3.png');
   }

.fade-slider__text--style-thirts{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-164%, -52%);
}

.fade-slider__text--style-games{
    position:absolute;
    bottom:-33%;
    left:50%;
    transform: translate(-50%, -71%);
}

.fade-slider__text--style-presents{
    position:absolute;
    bottom:-18%;
    left:25%;
    transform: translate(-48%, -48%);
}

.lined-text{
    font-family: "alegreya", Arial, sans-serif;
    color:#fff;
    font-size: 63px;
    text-transform: uppercase; 
    line-height:1;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    white-space:nowrap;
}
 
.lined-text__word{
    background: #000;
    padding:0 17px 8px;
    margin-top:-7px;
}

.lined-text__word--color-yellow{
    color:var(--yellow)
}

.lined-text__word:nth-child(2n){
    margin-left: 8px;
}

.lined-text__word-margin{
   margin-left: 115px;
}

.lined-text__word-margin--second{
margin-left: 35px;
}

.lined-text__word-size--big{
font-size: 46px;
}

.filter{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-bottom:100px;
}

.filter__link{
    text-transform: uppercase;
    padding: 5px 21px;
    color:var(--black);
    font-size: 24px;
    font-weight: bold;
    display:inline-block;
    text-decoration:none;
    font-family: var(--titlesFont);
}

.filter__item{
    margin-right:40px;
}

.filter__item:last-child{
    margin-right:0px;
}

.filter__link:hover{
    color:var(--red);
}

.filter__item--active .filter__link{
color:var(--yellow);
background:var(--black);
}

.products__list{
    display:flex;
    flex-wrap:wrap;
    margin-left: -27px;
}

.products__item{
    width: 302px;
    height: 386px;
    background:var(--yellow);
    margin-bottom: 35px;
    margin-left:27px;
    position:relative;
}

.products__price{
    position: absolute;
    top:18px;
    left:-8px;
    width: 126px;
    border-bottom:45px solid #232323;
    border-left:4px solid transparent;
    border-right:2px solid transparent;
    transform:rotate(-181deg);   
}

.products__price-amount{
    font-size: 30px;
    font-weight: bold;
    font-family: var(--titlesFont);
    transform:rotate(181deg); 
    position: absolute;
    top:10px;
    right:28px;
    color:#fff;
}

.products__item--color-black{
background: #232323;
}

.products__item--color-black .products__price{
      border-bottom-color:var(--yellow);
    }

.products__item--color-black .products__price-amount{
    color:#212121;
}

.products__item--size-double{
    width: 630px;
    height: 544px;
}

.products__item:hover .products__desc{
    transform:translateY(0);
}

.products_content{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.products__desc{
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    padding:23px 30px;
    background: rgba(35, 35, 35, .8);
    font-size: 16px;
    color:#fff;
    display:flex;
    flex-direction: column;
    align-items:center;
    transform:translateY(100%);
    transition:transform .3s;
}

.products__img{
    display:block;
    max-width:90%;
    max-height:100%;
}

.btn{
    text-transform:uppercase;
    font-size: 24px;
    font-family: var(--titlesFont);
    color: var(--yellow);
    padding:9px 26px;
    display:inline-block;
    background: var(--black);
    display:inline-block;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.products__desc-text{
    text-align:center;
    margin-bottom: 18px;
}

.products{
    margin-bottom: 160px;
}

.btn:hover{
    background: var(--red);
    color:#fff;
}

.collections{
    margin-bottom: 135px;
}

.collections__list{
    display:flex;
}

.collections__item{
    min-height:474px;
    flex:1;
    overflow:hidden;
    margin-right: 30px;
    background: url('./img/bg/pattern.png') center center / 500px;
    position:relative;
}

.collections__item:before{
    content:"";
    display:block;
    position: absolute;
    height:176%;
    width:60%;
    top:-17%;
    left:-18%;
    background: center center / contain no-repeat ;
}

.collections__item--type-guys:before{
   background-image: url('./img/collections/collection_man.png');
}

.collections__item--type-girls:before{
    background-image: url('./img/collections/collection_woman.png');
    width:80%;
    top:-31%;
    left:-25%;
 }

.collections__item:last-child{
    margin-right: 0;
}

.collections__link{
    display:block;
    padding:74px 13% 74px 44%;
    text-decoration:none;
    color:inherit;
    font-size: 15px;
    position:relative;
    box-sizing:border-box;
    height:100%;
}

.collections__title{
    font-family: var(--titlesFont);
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 11px;
}

.collections__desc{
    margin-bottom: 28px;
}

.collections__link:hover .btn{
background: var(--red);
color:#fff;
}

.footer{
margin-bottom: 115px;
}

.site-menu__sections{
 display:flex;
 justify-content:space-between;
}

.site-menu__col{
    margin-bottom:20px;
}

.site-menu__col:last-child{
    margin-bottom:0px;
}

.site-menu__title{
 font-family: var(--titlesFont);
 font-size: 24px;   
 font-weight: bold;
 color:var(--black);
 text-transform: uppercase;
 margin-bottom: 24px;
}

.site-menu__item{
    margin-bottom: 15px;
}

.site-menu__link{
    color: #737373;
    font-size:15px;
    text-decoration:none;
}

.site-menu__link:hover{
    color: var(--red);
}

.site-menu__text{
    font-size: 15px;
    color:var(--black);
    margin-bottom: 30px;
}

.site-menu__text-row{
    color:inherit;
    text-decoration: none;
    display:block;
    margin-bottom: 10px;
}

.footer__container{
    width: 1105px;
}

.extras{
    display:flex;
    margin-bottom: 95px;
}

.extras__col{
   margin-right: 20px;
   flex:1;
}

.extras__col:last-child{
    margin-right: 0;
}

.extras__best{
text-align:center;
display: block;
text-decoration: none;
color:#fff;
font-size:50px;
background: #232323;
font-weight: bold;
font-family: var(--titlesFont);
text-transform: uppercase;
padding:39px 130px;
line-height: 1;
}

.extras__col-socials{
    height:100%;
    background: url('./img/bg/pattern.png') center center / 500px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.socials__link{
    display:block;
    width: 38px;
height: 38px;
}

.socials{
    display:flex;
}

.socials__item{
    margin-right: 50px;
}

.socials__item:last-child{
    margin-right: 0px;
}

.socials__icon{
    width:100%;
    height:100%;
}

.socials__link:hover .socials__icon{
    fill:var(--red);
}

.site-menu{
    margin-bottom:115px;
}


/* Products */
.container__secondpage{
    width: 1105px;
}

.header__img-guys {
    background: url('./img/decor/header-guys.png') center center / contain no-repeat;
    position: absolute;
    width: 18%;
    height: 206px;
    top: -3%;
  }

  .products__header {
    background: url('./img/bg/hero.jpg') center center / cover no-repeat;
    margin-bottom: 90px;
    width: 100%;
    padding-left: 21px;
    padding-top: 29px;
    padding-bottom:30px;
  }

.lined-text--second{
    font-size: 30px;
    position: relative;
    left: -133px;
    top: 21px;
}

.mail--second{
    padding-right:120px;
}

.goods {
    display: flex;
    border: 5px solid var(--yellow);
    margin-bottom: 95px;
  }
  
  .goods--collumn {
    flex: 1;
    position: relative;
  }
  
  .goods__item {
    background: var(--yellow);
    position: absolute;
    width: 548px;
    height: 730px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity:0;
  }
  
  .tsherts--img {
    display: block;
    max-width: 95%;
    max-height: 100%;
    margin: 0 auto;

  }

  .tsherts__item--visible{
opacity:1;
  }

  .goods-options__name {
    font-size: 17px;
    font-weight: bold;
    font-family: var(--titlesFont);
    color: var(--yellow);
  }
  
  .goods-options__sub--name {
    color: var(--black);
    font-size: 47px;
    text-transform: uppercase;
    font-family: var(--titlesFont);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  
  .goods-options__price {
      background: var(--yellow);
      width: 95px;
  }
  .goods-options__price--amount {
    font-size: 30px;
    font-weight: bold;
    font-family: var(--titlesFont);
    color: #212121;
    text-align: center;
    padding-top:9px;
    padding-bottom:10px;
  }
  
  .goods-info__item {
    color: var(--black);
    margin-bottom: 20px;
  }
  
  .goods-info__item:last-child {
    margin-bottom: 0;
  }

  .goods__size--list {
    display: flex;
    flex-direction: row;
  }

  .goods__size{
      margin-left:25px;
      margin-top:24px;
      margin-bottom:24px;
  }

  .goods__size-blocks{
      display:inline-block;
      font-size: 16px;
    padding: 16px 12px;
    text-transform:uppercase;
    border: 2px solid #e7e0cf;
    margin-left:7px;
    font-weight: bold;
  }

  .goods__link{
    font-weight: bold;
 text-decoration:none;
 color:black;
  }

  .one--letter{
    padding: 16px 18px;
  }

  .goods-options__main--info, .goods-info__about {
    border-bottom: 2px solid #e0d9c8;
    padding: 30px;
  }

  .goods__btn {
    font-size: 28px;
    padding: 11px 70px;
    margin-left: 30px;
    margin-bottom: 30px;
  }

  .goods__size--item{
      display:inline-block;
      box-sizing:border-box;
  }

 .goods__size--item--active{
     background:var(--yellow);
     border-color: var(--yellow);
 }

 .goods__size--item-none{
     opacity:0.3;
 }

 .goods__size-blocks:hover{
    background:var(--yellow);
    border-color: var(--yellow);
 }

 .goods__size--blocks-none:hover{
    background:white;
    border-color: #e7e0cf ;
 }

 .goods__btn-link{
     text-decoration:none;
     color:white;
 }

 .circle-btn__item--active{
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px var(--yellow);
 }

 .goods-circle__list{
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
 }

 .circles{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
 }

 .circle-btn__item{
    width: 25px;
    height: 25px;
    margin-right: 20px;
    border-radius: 50%;
    cursor: pointer;
 }

 .circle-btn__color--black{
     background:var(--black);
 }

 .circle-btn__color--green{
    background:#529029;
}

.circle-btn__color--blue{
    background:#39498d;
}

.circle-btn__color--red{
    background:#d82727;
}

.circle-btn__color--white{
    background:white;
    border: 1px solid #e1dac9;
}

